* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    box-sizing: border-box;
    border: 1px solid black;
    max-width: 550px;
}

nav {
    font-size: 1em;
    background: #F55A5A;
    text-align: center;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    margin-right: 0.5rem;
}

.travel--cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5rem;
}

.travel--card {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    height: 10.5rem;
    width: 100%;
}

.hr {
    border-bottom: 1px solid #F5F5F5;
}

.card--country {
    font-size: 0.6em;
    letter-spacing: 0.3em;
}

.travel--card img {
    border-radius: 5px;
    width: 8rem;
    height: 10.5rem;
    object-fit: cover;
}

#pin {
    width: 7px;
    height: 9px;
    overflow: hidden;
    margin-right: 0.25rem;
}

.card--data {
    margin-left: 1.2rem;
}

.card--data h1 {
    font-size: 1.5em;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-style: normal;
}

.card--data h3 {
    font-size: 0.6em;
}

.card--data .card--content {
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 0.6em;
    line-height: 150%;
    font-style: normal;
    overflow: scroll;
    margin-bottom: 20px;
}

.card--content {
    overflow: hidden;
    max-height: 4.5em;
    overflow: scroll;
}

.maps--text {
    color: #918E9B;
    font-size: 0.6rem;
    margin-left: 0.75rem;
    text-decoration-line: underline;
    letter-spacing: normal;
}